@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('./bootstrap/bootstrap.css');

@mixin make-container() {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

$primary: #06275e;
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
body, html {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: $xl) {
  .container {
    min-width: 100%;
  }
}

.container {
  .row {
    div:not(.w-100) {
      //border: 2px solid black;
      //background-color: #0e59d6;
      //color: black;
      //padding: 10px;
      //text-align: center;
    }
  }

}

.card {
  .card-img-top {

  }
  .card-body {
    .interactions {
      .fa {
        &:not(:last-child) {
          padding-right: 0.3rem;
        }
      }
    }
    .card-text {
      font-size: 0.8rem;
    }
    .icons {
      font-size: 0.8rem;
      .icon {
        &:not(:last-child) {
          border-right: solid thin black;
        }
      }
    }
  }
}

#logo {
  &.blue-box {
    padding-bottom: 0.35rem;
  }
  img {
    height: auto;
  }
  .header-text {
    color: white;
    span {
      font-size: 0.65rem;
      display: block;
      width: 100%;
      text-align: right;
      padding-right: 1em;
    }
  }
}

.blue-box {
  background-color: $primary;
  color: white;
  &.view-properties {
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }
}
.navbar-toggler {
  height: 100%;
  padding: 0 0 0 0.25rem;
  .navbar-toggler-icon {
    color: black;
  }
}
.navbar {
  padding: 0;
  #main-menu {
    .navbar-nav {
      padding-top: 1rem;
      .nav-item {

        .nav-link {
          font-size: 0.7em;
          text-transform: lowercase;
        }
      }
    }
  }
}

.testimonials {
  background-color: #eee;
  h4 {
    font-size: 1rem;
    color: black;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 2rem 1rem;
  }
  #testimonials {
    .carousel-inner {
      .carousel-item {
        .flex-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          font-size: 0.65rem;
          padding-bottom: 1rem;
          .flex-content {
            width: 80%;
            .more {
              margin: 0 auto;
              width: 25%;
              text-align: center;
              padding: 1rem;
              border: black thin solid;
              display: block;
            }
          }
        }

      }
    }
    .carousel-control-next, .carousel-control-prev {
      color: #1b1e21;
      font-size: 2rem;
    }
  }
}

.homepage-agent-image {
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    height: 35vw;
  }
  .overlay {
    opacity: 0.45;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
